* {
  padding: 0;
  margin: 0;
}
table {
  width: 80%;
  background-color: beige;
  margin-top: 20px;
}
table th {
  background-color: rgb(221, 195, 162);
}
table td {
  text-align: center;
  padding-top: 10px;
}
.tableform {
  padding: 20px 10px;
}
.tableform input {
  width: 30%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 4px;
  border-radius: 5px;
}
.result button {
  padding: 5px 10px;
  background-color: #029260;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #029260;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
.updatedata {
  display: none;
}
.updateDataProduct {
  display: none;
}
